html {
    background-attachment: fixed;
    background-image: url('../../images/bg.png');
    background-size: cover;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}

html, body {
    /* height: 100%;
    min-height: 100%; */
}

/* boxes */
.hsm-box {
    padding: 0 3.5rem;
    min-height: 100%;
    height: 100%;
}
.hsm-box > .container {
    min-height: 100%;
    height: 100%;
    width: 1024px;
    position: relative;
}

.hsm-box .box-1 {
    padding: 0 0 59px 0;
    background-position: bottom center;
    background-size: contain;
}

.hsm-box .box-1 .container {
    height: 500px;
}

.hsm-box .box-1 .hero-body {
    padding: 0;
    position: relative;
}

.hsm-box .box-1 .container .titulo-bg {
    display: block;
    position: relative;
    background: url('../../images/logo.png');
    background-size: contain;
    width: 239px;
    height: 55px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}

.hsm-box .box-1 .container .Img01 {
    display: block;
    position: relative;
    background: url('../../images/Img01.png');
    background-size: contain;
    width: 837px;
    height: 366px;
    background-repeat: no-repeat;
    left: 0px;
    top: -75px;
}

.hsm-box .box-1 .container .img2b {
    display: block;
    position: relative;
    background: url(../../images/img2b.png);
    background-size: contain;
    width: 820px;
    height: 81px;
    background-repeat: no-repeat;
    left: 0px;
    top: -40px;
}

.hsm-box .box-1 .container .img3_4 {
    display: block;
    position: relative;
    background: url(../../images/img3_4.png);
    background-size: contain;
    width: 852px;
    height: 58px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}


.hsm-box .box-2 .conteudo {
    width: 1024px;
    height: 3800px;
    position: relative;
}

.hsm-box .box-2 .container .imgFundo {
    display: block;
    position: absolute;
    background: url(../../images/imgFundo.png);
    background-size: contain;
    width: 910px;
    height: 3197px;
    background-repeat: no-repeat;
    left: -40px;
    top: -0px;
}

.hsm-box .box-2 .container .img6 {
    display: block;
    position: absolute;
    background: url(../../images/img6.png);
    background-size: contain;
    width: 264px;
    height: 416px;
    background-repeat: no-repeat;
    left: 151.5px;
    top: 24px;
}

.hsm-box .box-2 .container .img7 {
    display: block;
    position: absolute;
    background: url(../../images/img7.png);
    background-size: contain;
    width: 458px;
    height: 172px;
    background-repeat: no-repeat;
    left: 450px;
    top: 84px;
}

.hsm-box .box-2 .container .img8 {
    display: block;
    position: absolute;
    background: url(../../images/img8.png);
    background-size: contain;
    width: 58px;
    height:145px;
    background-repeat: no-repeat;
    left: 140px;
    top: 375px;
}

.hsm-box .box-2 .container .img27 {
    display: block;
    position: absolute;
    background: url(../../images/img27.png);
    background-size: contain;
    width: 173px;
    height: 24px;
    background-repeat: no-repeat;
    left: 197px;
    top: 432px;
}

.hsm-box .box-2 .container .img28 {
    display: block;
    position: absolute;
    background: url(../../images/img28.png);
    background-size: contain;
    width: 537px;
    height: 195px;
    background-repeat: no-repeat;
    left: 376px;
    top: 350px;
}

.hsm-box .box-2 .container .img10 {
    display: block;
    position: absolute;
    background: url(../../images/img10.png);
    background-size: contain;
    width: 263px;
    height: 541px;
    background-repeat: no-repeat;
    left: 151.5px;
    top: 451px;
}

.hsm-box .box-2 .container .img11 {
    display: block;
    position: absolute;
    background: url(../../images/img11.png);
    background-size: contain;
    width: 454px;
    height: 171px;
    background-repeat: no-repeat;
    left: 460px;
    top: 643px;
}

.hsm-box .box-2 .container .img12 {
    display: block;
    position: absolute;
    background: url(../../images/img12.png);
    background-size: contain;
    width: 58px;
    height:145px;
    background-repeat: no-repeat;
    left: 80px;
    top: 920px;
}

.hsm-box .box-2 .container .img29 {
    display: block;
    position: absolute;
    background: url(../../images/img29.png);
    background-size: contain;
    width: 232px;
    height: 25px;
    background-repeat: no-repeat;
    left: 133px;
    top: 980px;
}

.hsm-box .box-2 .container .img30 {
    display: block;
    position: absolute;
    background: url(../../images/img30.png);
    background-size: contain;
    width: 537px;
    height: 222px;
    background-repeat: no-repeat;
    left: 376px;
    top: 895px;
}

.hsm-box .box-2 .container .img14 {
    display: block;
    position: absolute;
    background: url(../../images/img14.png);
    background-size: contain;
    width: 265px;
    height: 557px;
    background-repeat: no-repeat;
    left: 150px;
    top: 993px;
}

.hsm-box .box-2 .container .img15 {
    display: block;
    position: absolute;
    background: url(../../images/img15.png);
    background-size: contain;
    width: 454px;
    height: 171px;
    background-repeat: no-repeat;
    left: 460px;
    top: 1203px;
}

.hsm-box .box-2 .container .img16 {
    display: block;
    position: absolute;
    background: url(../../images/img16.png);
    background-size: contain;
    width: 58px;
    height:145px;
    background-repeat: no-repeat;
    left: 15px;
    top: 1490px;
}

.hsm-box .box-2 .container .img31 {
    display: block;
    position: absolute;
    background: url(../../images/img31.png);
    background-size: contain;
    width: 294px;
    height: 25px;
    background-repeat: no-repeat;
    left: 73px;
    top: 1548px;
}

.hsm-box .box-2 .container .img32 {
    display: block;
    position: absolute;
    background: url(../../images/img32.png);
    background-size: contain;
    width: 537px;
    height: 200px;
    background-repeat: no-repeat;
    left: 376px;
    top: 1465px;
}

.hsm-box .box-2 .container .img18 {
    display: block;
    position: absolute;
    background: url(../../images/img18.png);
    background-size: contain;
    width: 264px;
    height: 462px;
    background-repeat: no-repeat;
    left: 151px;
    top: 1561px;
}

.hsm-box .box-2 .container .img19 {
    display: block;
    position: absolute;
    background: url(../../images/img19.png);
    background-size: contain;
    width: 457px;
    height: 172px;
    background-repeat: no-repeat;
    left: 460px;
    top: 1755px;
}

.hsm-box .box-2 .container .img33 {
    display: block;
    position: absolute;
    background: url(../../images/img33.png);
    background-size: contain;
    width: 473px;
    height: 58px;
    background-repeat: no-repeat;
    left: 320px;
    top: 2065px;
}

.hsm-box .box-2 .container .img35 {
    display: block;
    position: absolute;
    background: url(../../images/img35.png);
    background-size: contain;
    width: 262px;
    height: 72px;
    background-repeat: no-repeat;
    left: 121px;
    top: 2232px;
}

.hsm-box .box-2 .container .img35b {
    display: block;
    position: absolute;
    background: url(../../images/img35b.png);
    background-size: contain;
    width: 262px;
    height: 130px;
    background-repeat: no-repeat;
    left: 121px;
    top: 2232px;
}

.hsm-box .box-2 .container .img36 {
    display: block;
    position: absolute;
    background: url(../../images/img36.png);
    background-size: contain;
    width: 831px;
    height: 541px;
    background-repeat: no-repeat;
    left: 50px;
    top: 2375px;
}

.hsm-box .box-2 .container .img37 {
    display: block;
    position: absolute;
    background: url(../../images/img37.png);
    background-size: contain;
    width: 262px;
    height: 72px;
    background-repeat: no-repeat;
    left: 555px;
    top: 2232px;
}

.hsm-box .box-2 .container .img37b {
    display: block;
    position: absolute;
    background: url(../../images/img37b.png);
    background-size: contain;
    width: 262px;
    height: 130px;
    background-repeat: no-repeat;
    left: 555px;
    top: 2232px;
}

.hsm-box .box-2 .container .img38 {
    display: block;
    position: absolute;
    background: url(../../images/img38.png);
    background-size: contain;
    width: 831px;
    height: 541px;
    background-repeat: no-repeat;
    left: 50px;
    top: 2375px;
}

.hsm-box .box-2 .container .img39b {
    display: block;
    position: absolute;
    background: url(../../images/img39b.png);
    background-size: contain;
    width: 565px;
    height: 59px;
    background-repeat: no-repeat;
    left: 50px;
    top: 2928px;
}

.hsm-box .box-2 .container .img39c {
    display: block;
    position: absolute;
    background: url(../../images/img39c.png);
    background-size: contain;
    width: 174px;
    height: 53px;
    background-repeat: no-repeat;
    left: 700px;
    top: 2925px;
}

.hsm-box .box-2 .container .img41 {
    display: block;
    position: absolute;
    background: url(../../images/img41.png);
    background-size: contain;
    width: 811px;
    height: 177px;
    background-repeat: no-repeat;
    left: 51px;
    top: 2995px;
}

.hsm-box .box-2 .container .img42 {
    display: block;
    position: absolute;
    background: url(../../images/img42.png);
    background-size: contain;
    width: 155px;
    height: 155px;
    background-repeat: no-repeat;
    left: 63px;
    top: 3005px;
}

.hsm-box .box-2 .container .img43 {
    display: block;
    position: absolute;
    background: url(../../images/img43.png);
    background-size: contain;
    width: 155px;
    height: 155px;
    background-repeat: no-repeat;
    left: 274px;
    top: 3005px;
}

.hsm-box .box-2 .container .img44 {
    display: block;
    position: absolute;
    background: url(../../images/img44.png);
    background-size: contain;
    width: 155px;
    height: 155px;
    background-repeat: no-repeat;
    left: 485px;
    top: 3005px;
}

.hsm-box .box-2 .container .img45 {
    display: block;
    position: absolute;
    background: url(../../images/img45.png);
    background-size: contain;
    width: 155px;
    height: 155px;
    background-repeat: no-repeat;
    left: 696px;
    top: 3005px;
}

.hsm-box .box-2 .container .img42b {
    display: block;
    position: absolute;
    background: url(../../images/img42b.png);
    background-size: contain;
    width: 155px;
    height: 202px;
    background-repeat: no-repeat;
    left: 63px;
    top: 3005px;
}

.hsm-box .box-2 .container .img43b {
    display: block;
    position: absolute;
    background: url(../../images/img43b.png);
    background-size: contain;
    width: 155px;
    height: 202px;
    background-repeat: no-repeat;
    left: 274px;
    top: 3005px;
}

.hsm-box .box-2 .container .img44b {
    display: block;
    position: absolute;
    background: url(../../images/img44b.png);
    background-size: contain;
    width: 155px;
    height: 202px;
    background-repeat: no-repeat;
    left: 485px;
    top: 3005px;
}

.hsm-box .box-2 .container .img45b {
    display: block;
    position: absolute;
    background: url(../../images/img45b.png);
    background-size: contain;
    width: 155px;
    height: 202px;
    background-repeat: no-repeat;
    left: 696px;
    top: 3005px;
}

.hsm-box .box-2 .container .img42c {
    display: block;
    position: absolute;
    background: url(../../images/img42c.png);
    background-size: contain;
    width: 733px;
    height: 242px;
    background-repeat: no-repeat;
    left: 100px;
    top: 3225px;
}

.hsm-box .box-2 .container .img43c {
    display: block;
    position: absolute;
    background: url(../../images/img43c.png);
    background-size: contain;
    width: 733px;
    height: 242px;
    background-repeat: no-repeat;
    left: 100px;
    top: 3225px;
}

.hsm-box .box-2 .container .img44c {
    display: block;
    position: absolute;
    background: url(../../images/img44c.png);
    background-size: contain;
    width: 733px;
    height: 242px;
    background-repeat: no-repeat;
    left: 100px;
    top: 3225px;
}

.hsm-box .box-2 .container .img45c {
    display: block;
    position: absolute;
    background: url(../../images/img45c.png);
    background-size: contain;
    width: 733px;
    height: 242px;
    background-repeat: no-repeat;
    left: 100px;
    top: 3225px;
}

.hsm-box .box-2 .container .img46 {
    display: block;
    position: absolute;
    background: url(../../images/img46.png);
    background-size: contain;
    width: 901px;
    height: 136px;
    background-repeat: no-repeat;
    left: 0px;
    top: 3500px;
}

.hsm-box .box-2 .container .img47 {
    display: block;
    position: absolute;
    background: url(../../images/img47.png);
    background-size: contain;
    width: 643px;
    height: 62px;
    background-repeat: no-repeat;
    left: 145px;
    top: 3690px;
}
/* fim boxes */

.hsm-sombra-left,.hsm-sombra-right {
    background-image: url('../../images/sombra.png');
    background-repeat: repeat-y;
    background-origin: content-box;
    background-clip: border-box;
    width: 25px;
    min-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hsm-sombra-right {
    left: unset;
    right: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#conteudo {
    height: 100%;
    margin: 25px;
}
